html, body
  font-size: 21px



html, button, input, select, textarea,
.pure-g [class *= "pure-u"]
  font-family: 'Roboto', sans-serif



h1
  font-family: 'Roboto Condensed', sans-serif
  text-transform: uppercase
  font-weight: 400


h1
  font-size: 3em


h2
  font-size: 2.25em
  color: gray
  text-transform: uppercase
  font-weight: 100

h2.left
  text-align: left

h2.right
  text-align: right


h3
  font-family: 'Alegreya', serif
  font-size: 2em
  font-weight: 400
  margin: 0


p
  line-height: 1.35em



#main
  max-width: 1024px
  padding: 0 1em
  margin: 0 auto



section
  padding: 1em 0



.intro
  h1
    margin: 0
    margin-top: 1em

  p
    margin-top: 1em
    font-size: 1.5em
    color: gray
    font-weight: 200




.experience-item
  margin-bottom: 2em

  .date
    margin-top: 1em
    text-transform: uppercase
    color: gray
    font-weight: 300

  .company
    color: gray
    text-transform: uppercase
    font-size: 0.85em
    font-weight: 300




.experience

  .experience-item:last-child
    margin-bottom: 0



.skill-l
  padding-right: 3em